@import "./assets/scss/index.scss";

// header styles
header {
    position: fixed;
    width: 100%;
    z-index: 999;
    left: 0;
    top: 0;
    .header-wrapper {
        display: flex;
        align-items: center;
        padding: 20px;
        z-index: 2;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
        @include small-desktop {
            display: block;
            padding: 15px 20px;
            width: 100%;
            height: 180px;
            transition: top 0.3s ease;
        }
        .hamburger-menu {
            .hamburger {
                background: none;
                border: 0;
                cursor: pointer;
            }
        }
        .logo {
            width: 180px;
            text-align: center;
            margin: 0 auto;
            .white-mobile-logo {
                filter: brightness(100);
            }
        }
        .desktop-header {
            display: none;
            @include small-desktop {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .left-logo {
                width: 180px;
            }
        }
        nav {
            display: none;
            @include small-desktop {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            ul {
                list-style-type: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 50%;
                @include desktop {
                    width: 45%;
                }
                li {
                    a {
                        color: $white;
                        text-decoration: none;
                        font-size: 16px;
                        padding-bottom: 5px;
                        transition: all 0.3s ease;
                    }
                    &.underline {
                        border-bottom: 2px solid white;
                    }
                }
            }
            .right-section {
                display: flex;
                width: 45%;
                justify-content: space-between;
                @include desktop {
                    width: 35%;
                }
                .search-input {
                    position: relative;
                    input {
                        background: #f5f5f5;
                        height: 40px;
                        transition: all 0.7s ease 0s;
                        border: 0;
                        border-radius: 50px;
                        margin-right: 0;
                        padding-left: 40px;
                        outline: none;
                        border: none;
                        #search-clear{
                            display: none;
                        }
                    }
                    i {
                        position: absolute;
                        left: 15px;
                        top: 13px;
                    }
                }
                .right-action-btn {
                    padding: 0 15px;
                    cursor: pointer;
                    background: #f5f5f5;
                    border: 0;
                    font-size: 16px;
                    border-radius: 20px;
                }
            }
        }
        &.white-background {
            background: #fff;
            @include small-desktop{
                height: 100px;
            }
            .desktop-navigation {
                li {
                    a {
                        color: $primary;
                    }
                }
            }
        }
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: $black;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        text-align: center;
        a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
            &:hover {
                color: $white;
            }
        }
        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
    }
}

// banner styles
.banner {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    text-align: center;
    height: 700px;
    .banner-content {
        height: 100%;
        width: 100%;
        .banner-text-content {
            position: absolute;
            color: $white;
            z-index: 99;
            top: 30%;
            width: 100%;
            margin: 0 auto;
            .banner-text {
                font-size: 32px;
                font-weight: 100;
                line-height: 1.2;
            }
            .banner-big-text {
                font-weight: 500;
                line-height: 1;
                font-size: 90px;
            }
            .search-box {
                width: 90%;
                margin: 25px auto;
                position: relative;
                @include tablet {
                    width: 70%;
                }
                @include small-desktop {
                    width: 50%;
                }
                @include desktop {
                    width: 30%;
                }
                input {
                    width: 100%;
                    height: 50px;
                    border-radius: 10px;
                    padding: 0 40px;
                    outline: none;
                    border: none;
                }
                .search-attr {
                    position: absolute;
                    top: 18px;
                    color: $black;
                    cursor: pointer;
                }
                .align-left {
                    left: 20px;
                }
                .align-right {
                    right: 20px;
                }
            }
        }
        .banner-image {
            background-image: url("../images/banner.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
        }
    }
}

// check-pay
.check-pay {
    .check-pay-inner-wrapper {
        padding: 0 20px;
        margin-top: 30px;
        h2.heading {
            font-size: 32px;
            font-weight: 700;
            text-align: center;
            color: $primary;
            @include small-desktop {
                font-size: 50px;
            }
        }
        .sub-heading {
            text-align: center;
            font-size: 14px;
            text-transform: capitalize;
            color: $primary;
        }
        .tabs {
            display: flex;
            justify-content: center;
            margin: 25px 0;
            border-bottom: 1px solid gray;
            .tab-btn {
                background: transparent;
                border-radius: 8px;
                margin: 0;
                color: $primary;
                font-size: 16px;
                text-transform: capitalize;
                padding: 14px 10px;
                border: none;
                font-weight: 300;
                transition: all 0.3s ease;
                position: relative;
                cursor: pointer;
                width: 200px;
                @include tablet {
                    width: 230px;
                }
                @include small-desktop {
                    width: 300px;
                }
                &.active {
                    font-weight: bold;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background: $black;
                        bottom: 0;
                        left: 0;
                    }
                }
                &:hover {
                    color: #333;
                }
            }
        }
        .tab-content {
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include small-desktop {
                width: 75%;
            }
            .inner-wrapper {
                display: flex;
                margin-top: 20px;
                justify-content: center;
                width: 100%;
                .label {
                    border: 1px solid #dee6f0;
                    padding: 15px;
                    height: 50px;
                    background: #f3f5f9;
                    width: 40%;
                    border-radius: 8px 0 0 8px;
                }
                input {
                    border: 1px solid #cecece;
                    color: #74889f;
                    padding: 15px;
                    height: 50px;
                    width: 60%;
                    border-radius: 0 8px 8px 0;
                }
            }
            button {
                background-color: $primary;
                color: $white;
                padding: 15px;
                border-radius: 8px;
                margin-top: 30px;
            }
        }
    }
}

// impact pillar styles
.impact-pillars {
    .pillars-inner-wrapper {
        padding: 0 20px;
        margin-top: 30px;
        h2 {
            font-size: 32px;
            font-weight: 700;
            text-align: center;
            color: $primary;
            @include small-desktop {
                font-size: 50px;
            }
        }
        .sub-heading {
            text-align: center;
            font-size: 14px;
            text-transform: capitalize;
            color: $primary;
        }
        .pillars-container {
            @include small-desktop {
                padding-top: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .pillars {
                padding-top: 25px;
                @include small-desktop {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding-top: 0;
                }
                @include desktop {
                    width: 50%;
                }
                .pillar {
                    background-color: aliceblue;
                    margin-bottom: 30px;
                    padding: 15px 25px;
                    border-radius: 10px;
                    border: 1px solid #dee6f0;
                    @include small-desktop {
                        width: 48%;
                    }
                    &:nth-child(3) {
                        @include small-desktop {
                            margin-bottom: 0;
                        }
                    }
                    &:nth-child(4) {
                        @include small-desktop {
                            margin-bottom: 0;
                        }
                    }
                    .img {
                        width: 50px;
                    }
                    .pillar-heading {
                        color: $primary;
                        font-size: 25px;
                    }
                    a {
                        color: $black;
                        font-weight: 700;
                    }
                }
            }
            .pillar-work-demo {
                width: 45%;
                img {
                    border-radius: 10px;
                }
            }
        }
    }
}

// footer styles
footer {
    padding: 0 20px 50px 20px;
    .footer-wrapper {
        @include small-desktop {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        @include desktop {
            flex-wrap: nowrap;
        }
        .footer-item {
            text-align: center;
            @include small-desktop {
                width: 45%;
            }
            @include desktop {
                width: 20%;
            }
            &:nth-child(2) {
                @include desktop {
                    padding-left: 20px;
                }
            }
            &:nth-child(5) {
                @include desktop {
                    padding-left: 20px;
                }
            }
            .footer-heading {
                color: $primary;
                border-bottom: 1px solid gray;
                padding: 20px 0 10px;
                margin: 30px 0;
            }
            ul {
                list-style-type: none;
                li {
                    margin: 15px 0;
                    a {
                        text-decoration: none;
                        color: $primary;
                    }
                }
                &.align-horizontally {
                    li {
                        padding-left: 25px;
                    }
                }
            }
        }
    }
    .copyright {
        text-align: center;
        margin-top: 15px;
    }
}
